.content-wrapper {
  width: 800px;
  @media only screen and (max-width: 600px) {
    width: 350px;
  }
}
.searchBar-container {
  width: 400px;
  @media only screen and (max-width: 600px) {
    width: 320px;
  }
}

.search-result {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 16px;
}

.result-header {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 12px;
}
.result-header-info {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.result-title {
  font-size: 18px;
  text-decoration: none;
  color: rgb(42, 144, 240);
}

.result-url {
  text-decoration: none;
  color: rgb(163, 174, 235);
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination-button {
  cursor: pointer;
  margin: 0px 4px;
  border-radius: 12px;
  width: 24px;
  border: 0px;
}
